<launch>
  
  
  <!-- <arg name="odometry_topic" default="$(arg robot_name)/ground_truth/odometry_throttled"/> -->

  
   <arg name="hmclFSM_config_file" default="$(find hmcl_fsm)/config/hmclFSM.yaml"/>

  <node pkg="hmcl_fsm" type="hmcl_fsm" name="hmcl_fsm" output="screen">
    <!-- <remap from="/mavros/vision_pose/pose" to="vins/vision_pose/pose"/>   -->
      <!-- <remap from="ground_truth_pose" to="/mavros/local_position/odom"/>   -->
   
    <rosparam command="load" file="$(arg hmclFSM_config_file)" />

  </node>

  <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0.0 0 0.0 0.0 0.0 0.0 map world 1"/>
  <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0 0.0 0.0 0.0 0.0 map odom 1"/>
<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link_virtual" args="0.0 0.0 0.1 0.0 0.0 0.0 base_link laser 1"/>
   <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link_virtual" args="0.147 0 -0.068 0.0 0.0 0.0 base_link camera_link_virtual 1"/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link" args="0.0 0 0.0 -1.570975 0.0 -1.570975 camera_link_virtual camera_link 1"/> 
  
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="cam_offboard_link_broadcaster" args="0 0 0 0.0 -1.5707963 1.5707963 camera_link cam_points 100"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_link_virtual" args="0.0 0.0 -0.1 0.0 0.0 0.0 laser base_link 1000"/> -->
  
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_world" args="0.0 0 0.0 0.0 0.0 0.0 map world 10"/> -->
  
</launch>
